:root {
  --btn-color: #4c5fd5;
  --hero-color: #dadbf1;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #191b1e;
  --color-gray2: #cccccc;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 65px;
  width: 65px;
  margin-left: 70px;
  margin-top: 10px;
}

.navbar {
  background-color: var(--color-black);
  height: 75px;
  display: flex;
  flex-direction: row;
}

.para a {
  color: var(--color-white);
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  margin-left: -10px;
  margin-right: 10px;
  padding-top: 12px;
  text-decoration: none;
}

.abstract-text:hover {
  color: var(--color-gray2);
}

.help {
  color: var(--color-white);
  display: inline-block;
  font-size: 18px;
  padding-top: 13px;
  text-decoration: none;
}

.help:hover {
  text-decoration: underline;
}

.request {
  background: var(--color-gray);
  color: var(--color-white);
  height: 40px;
  width: 175px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  outline: 1px solid var(--color-gray2);
  text-align: center;
  margin-top: 20px;
  margin-left: 735px;
  padding: 10px;
  cursor: pointer;
}

.btn {
  background-color: var(--btn-color);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  height: 42px;
  width: 115px;
  margin-top: 19px;
  margin-left: 12px;
  text-align: center;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.hero {
  background-color: var(--hero-color);
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  font-size: 65px;
  margin-top: -27px;
  margin-bottom: 30px;
}

input {
  border-radius: 5px;
  border: none;
  color: var(--color-gray2);
  font-size: 20px;
  outline: 1px solid var(--color-black);
  height: 60px;
  width: 615px;
  margin-left: -45px;
  padding-left: 20px;
  position: relative;
}

.bx {
  position: absolute;
  right: 435px;
  font-size: 40px;
  padding-top: 12px;
}

.features {
  display: flex;
  flex-direction: row;
}

.feat-block1 {
  margin-top: 7rem;
  margin-left: 6rem;
  width: 30%;
}

.feat-block1 h2 {
  margin-left: 7rem;
}

.feat-block1 p {
  font-size: 20px;
  line-height: 1.6;
  margin-left: 7rem;
}

.feat-block1 a {
  color: var(--btn-color);
  font-size: 18px;
  margin-left: 7rem;
  text-decoration: none;
}

.abstract-img {
  float: left;
  width: 85px;
  height: 85px;
  margin-top: 2rem;
}
